/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
}

header,
main {
    display: flex;
    justify-content: center;
    padding: 1em;
}

main {
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
}

section {
    width: 100%;
    margin-bottom: 1rem;
}

/* not changing anything */
option {
    font-size: 16px !important;
}

.clock-colon, .select-am-pm {
    margin: 0 0.5em 0 0.5em;
}

.day {
    display: flex;
    justify-content: center;
    margin: 0.2em;
}

.day-columns-div {
    display: flex;
    justify-content: space-around ;
}

#tuesday-time, #wednesday-time, #thursday-time, #friday-time, .in, .lunch, .out {
    display: flex;
}
